#!/bin/zsh

# base
alias cd="nocorrect cd"
alias cp="nocorrect cp -i"
alias gcc="nocorrect gcc"
alias ln="nocorrect ln -i"
alias man="nocorrect man"
alias mkdir="nocorrect mkdir -p"
alias mv="nocorrect mv -i"
alias rm="nocorrect rm -i"
alias sl="ls"

# git
alias ga="git add"
alias gc="git commit"
alias gf="git fetch"
alias gch="git checkout"
alias gm="git merge"
alias gb="git branch"
alias gd="git diff"
alias gl="git log"
alias gps="git push"
alias gpl="git pull"
alias gsw="git switch"
alias gst="git status"
alias grs="git restore"
alias glo="git log --oneline"
alias gaa="git add -A"
alias gcm="git commit -m"
alias gca="git commit --amend"
alias gpsuom="git push -u origin main"

# ls
alias ll="ls -lh"
alias la="ls -a"
alias lla="ls -lah"

# cd
alias cdd="cd $HOME/dotfiles"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ......="cd ../../../../.."
alias .......="cd ../../../../../.."