#! /bin/bash

function history_search_with_fzf() {
    local selected_command
    selected_command=$(history -n 1 | tac | awk '!a[$0]++' | fzf --height 40% --layout=reverse --border --inline-info)
    if [ -n "$selected_command" ]; then
        BUFFER=$selected_command
        CURSOR=$#BUFFER
        zle reset-prompt
    fi
}
zle -N history_search_with_fzf
bindkey '^R' history_search_with_fzf